.ui-modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.ui-modal.open {
    display: flex;
}

.ui-modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}
